@import url("https://fonts.googleapis.com/css?family=Roboto:400");
/*@font-face { font-family: "Roboto"; src: url("../fnt/Roboto-Regular.ttf");}*/

* { box-sizing: border-box; margin: 0px; padding: 0px; outline: none;}
html {}
body { font-size: 0px; font-family: "Roboto";}
input { font-family: "Roboto";}
h1, h2, h3, h4, h5, h6 { font-weight: 400;}
a { text-decoration: none;}
